#fundo{
    font-family: calibri;
    background-color: aqua;
    text-align: center;
    font-size: large;
}
h1 {
    color: black;
    margin-bottom: 20px;
    font-size: 2.5em;
    background-color: white;
    box-shadow: 0px 4px 10px black;
    margin: 25px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
nav {
    background-color: white;
    margin: 25px;
    padding: 35px;
    box-shadow: 0px 4px 10px black;
    text-align: left;
}
li{
    text-align: center;
    margin: 5px;
}
a {
    font-family: calibri;
    font-family: 'Times New Roman', Times, serif;
}
table{
    background-color: white;
    color: black;
    text-align: center;
    border-color: black;
    font-size: 25px;
}
label{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 4px 10px black;
    margin: 2px;
    padding: 5px;
}
#teste{
    color: black;
}
button{
    background-color: white;
}